# =========================
# 🔐 Model Files
# =========================
*.pkl
*.joblib
*.h5

# =========================
# 🧠 Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 📦 Virtual Environment
# =========================
venv/
.env/
.venv/
ENV/

# =========================
# 📊 Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# 📁 Dataset Files
# =========================
*.csv
*.xlsx
*.json

# =========================
# 🧪 Logs
# =========================
*.log

# =========================
# 🖥 VSCode
# =========================
.vscode/

# =========================
# 🐍 Python Build
# =========================
build/
dist/
*.egg-info/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db